*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
h2{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.navbar{
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    background-color: #FF2849;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
}
.navbar a:hover{
    color: red;
    transition: all 3s ease;
}
/* hero section */
/* https: //assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg */

.hero {
    /* border: solid; */
        height: 65vh;
        background-image: url(https://assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg);
        background-size: cover;
        background-position: center;
        background-position: top;

}
.hero .hero-content{
    /* border: solid; */
    
    height: 100%;
    
}
.hero .hero-content h1{
    color: rgb(18, 18, 18);
    font-size: 3rem;
   text-align: left;
   margin-left: 100px;
}
.hero .hero-content p{
    color: rgb(13, 13, 13);
    font-size: 1.5rem;
    margin-left: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
    
}

.hero .hero-content h4 {
    color: rgb(28, 26, 26);
    font-size: 1.5rem;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    font-style: oblique;
}
.hero .hero-content .btn{
    /* display: flex; */
        justify-content: center;
        align-items: center;
        padding: 9px 12px;
        gap: 8px;
        height: 40px;
        width: 172px;
        border: none;
        background: #FF2849;
        border-radius: 20px;
        cursor: pointer;
        margin: 90px;
        
    
}